---
layout: blog
---

<section class="">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="">
            <h2 class="">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="">
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>