---
layout: blog
---

<section class="">
  {% set postslist = collections.post %} {% for post in postslist | reverse %}
  <div>
    <h2 class="">
      <a href="{{ post.url | url }}">
        {% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
        endif %}
      </a>
    </h2>
    <p class="">
      <time>
        {{ post.date | readableDate }} by
        <a>{{ post.data.author }}</a>
      </time>
    </p>
    <article class="">{{ post.content | safe }}</article>
  </div>
  {% endfor %}
</section>
