<section class="latest">
  {% set postslist = collections.post %} {% for post in postslist | reverse %}
  <article class="latest-articles">
    <h2>
      <a href="{{ post.url | url }}">
        {% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
        endif %}
      </a>
    </h2>
    <p class="timestamp">
      <time>
        {{ post.date | readableDate }} by
        <span>{{ post.data.author }}</span>
      </time>
    </p>
    <div>{{ post.templateContent | safe }}</div>
  </article>
  {% endfor %}
</section>
