<div class="">
    <nav class="">
        <!--Logo etc-->
        <div class="">
            <a href="/" class="">
                timokoola.dev</a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        

        <!--Menu-->
        <div class="">

            {% if navigation.items %}

                <ul class="">
                    {% for item in navigation.items %}
                        <li class="">
                            <a class="" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</div>